# 第 6 章 数据加载、存储与文件格式

输入输出的分类：
* 读取文本文件和其他更高效的磁盘存储格式
* 加载数据库中的数据
* 利用 Web API 操作网络资源。

In [3]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = 'all' #默认为'last'

## 6.1读写文本格式的数据

In [5]:
df = pd.read_csv(r"F:\DUFE\2ND semester\python\pythonforDA\examples.csv")
df

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [6]:
pd.read_table(r"F:\DUFE\2ND semester\python\pythonforDA\examples.csv",sep=',')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [7]:
pd.read_csv(r"F:\DUFE\2ND semester\python\pythonforDA\examples.csv",header=None)

     0  1   2   3   4        5
0  NaN  a   b   c   d  message
1  0.0  1   2   3   4    hello
2  1.0  5   6   7   8    world
3  2.0  9  10  11  12      foo

In [8]:
pd.read_csv(r"F:\DUFE\2ND semester\python\pythonforDA\examples.csv",names=['a','b','c','d','message'])

      a   b   c   d  message
NaN   a   b   c   d  message
 0.0  1   2   3   4    hello
 1.0  5   6   7   8    world
 2.0  9  10  11  12      foo

### 导入导出

In [9]:
import json
try:
    f = open(r"F:\DUFE\2ND semester\python\张亮-python 课程资料\python 课件 东财\SPG.csv", 'r')
    print(f.read())
finally:
    if f:
        f.close()

f = open(r"F:\DUFE\2ND semester\python\张亮-python 课程资料\python 课件 东财\SPG.csv", 'r')
c = f.read()
d = open(r"F:\DUFE\2ND semester\python\张亮-python 课程资料\python 课件 东财\SPG写出来.csv", 'a')
d.write(c)

Date,Open,High,Low,Close,Adj Close,Volume
2019-04-09,183.279999,183.279999,182.029999,182.570007,182.570007,709500
2019-04-10,183.690002,184.970001,182.660004,184.929993,184.929993,707500
2019-04-11,185.000000,186.399994,183.539993,184.210007,184.210007,872400
2019-04-12,184.039993,185.529999,182.330002,185.520004,185.520004,721000
2019-04-15,185.990005,186.240005,183.669998,184.500000,184.500000,651500
2019-04-16,184.149994,184.320007,176.089996,177.080002,177.080002,1381500
2019-04-17,177.660004,178.800003,175.369995,177.440002,177.440002,1916200
2019-04-18,177.490005,179.330002,177.270004,178.059998,178.059998,1018200
2019-04-22,177.600006,177.600006,171.949997,173.710007,173.710007,1297000
2019-04-23,174.580002,177.220001,173.970001,176.610001,176.610001,982400
2019-04-24,177.029999,179.250000,176.250000,178.149994,178.149994,828700
2019-04-25,177.389999,178.470001,176.110001,177.850006,177.850006,905500
2019-04-26,178.429993,179.669998,177.490005,178.610001,178.610001,834100
2019-04-29,178.919998,179.899994,175.559998,175.750000,175.750000,1183000
2019-04-30,174.899994,175.169998,168.500000,173.699997,173.699997,2193400
2019-05-01,173.369995,178.929993,172.259995,177.750000,177.750000,2256300
2019-05-02,178.020004,179.300003,177.059998,177.800003,177.800003,1644600
2019-05-03,177.639999,180.059998,176.589996,179.410004,179.410004,1069900
2019-05-06,178.589996,179.089996,177.320007,178.110001,178.110001,851900
2019-05-07,177.660004,178.710007,172.619995,174.029999,174.029999,2063200
2019-05-08,173.820007,175.500000,172.619995,172.839996,172.839996,1013300

1586

### 导出类

In [10]:
def student2dict(std):
    return {
        'name': std.name,
        'age': std.age,
        'score': std.score
    }
a = json.dumps(s, default=student2dict)
f1 = open(r"F:\DUFE\2ND semester\python\张亮-python 课程资料\python 课件 东财\dump.txt", 'a')
json.dump(a,f1)
f1.close()

NameError: name 's' is not defined